<div [@routerTransition]>
  <form autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
    <div class="modal-body">
      <tabset>
        <tab
          (selectTab)="(orderType == 1)"
          [heading]="'Xuất kho' | localize"
          class="pt-3 px-2"
        >
          <div class="container-add">
            <div class="container-row">
              <div class="row" style="padding-bottom: 25px">
                <div class="col">
                  <div class="row">
                    <div class="col required">
                      <label for="name">
                        {{ "Mã đơn" | localize }}
                      </label>
                      <span
                        style="color: red; margin-left: 5px; font-size: 14pt"
                        >*</span
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <input
                        type="text"
                        class="form-control"
                        name="exportCode"
                        id="exportCode"
                        required
                        [(ngModel)]="exportImport.exportImportCode"
                        #nameCode="ngModel"
                        #nameCodeEl
                        maxlength="32"
                      />
                      <abp-validation-summary
                        [control]="nameCode"
                        [controlEl]="nameCodeEl"
                      ></abp-validation-summary>
                    </div>
                    <div class="col">
                      <a
                        href="javascript:;"
                        class="btn bg-blue"
                        (click)="getRandomCode()"
                      >
                        <i class="fa fa-plus-square"></i>
                        {{ "Random" | localize }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <label for="name">
                        {{ "Người lập phiếu" | localize }}
                      </label>
                      <span
                        style="color: red; margin-left: 5px; font-size: 14pt"
                        >*</span
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <select
                        required
                        #selectModel="ngModel"
                        #selectEl
                        class="form-control"
                        [(ngModel)]="exportImport.orderCreator"
                        [ngModelOptions]="{ standalone: true }"
                        aria-label="Default select example"
                      >
                        <option value="0" selected>Người lập phiếu</option>
                        <option *ngFor="let usd of user.items;let i = index" value="{{usd.id}}">
                          {{usd.name}}</option>
                      </select>
                      <!-- <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding-bottom: 25px">
                <div class="col">
                  <div class="row">
                    <div class="col required">
                      <label for="name">
                        {{ "Số điện thoại khách" | localize }}
                      </label>
                      <span
                        style="color: red; margin-left: 5px; font-size: 14pt"
                        >*</span
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <input
                        type="text"
                        class="form-control"
                        name="phoneNumber"
                        id="phoneNumber"
                        [(ngModel)]="customer.customerPhone"
                        required
                        maxlength="32"
                      />
                      <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                    </div>
                    <div class="col">
                      <a
                        href="javascript:;"
                        class="btn bg-blue"
                        (click)="getCustomer()"
                        *ngIf="check()"
                      >
                        <i class="fa fa-plus-square"></i>
                        {{ "Tìm kiếm" | localize }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col required">
                      <label for="name">
                        {{ "Tên khách" | localize }}
                      </label>
                      <span
                        style="color: red; margin-left: 5px; font-size: 14pt"
                        >*</span
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <input
                        type="text"
                        class="form-control"
                        name="customerName"
                        id="customerName"
                        [(ngModel)]="customer.customerName"
                        required
                      />
                      <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding-bottom: 25px">
                <div class="col">
                  <div class="row">
                    <div class="col required">
                      <label for="name">
                        {{ "Địa chỉ" | localize }}
                      </label>
                      <span
                        style="color: red; margin-left: 5px; font-size: 14pt"
                        >*</span
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <input
                        type="text"
                        class="form-control"
                        name="address"
                        [(ngModel)]="customer.customerAdress"
                        id="address"
                        required
                        maxlength="32"
                      />
                      <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding-bottom: 25px">
                <div class="col">
                  <div class="row" style="margin-bottom: 25px">
                    <div class="col">
                      <label for="name">
                        {{ "Sản phẩm" | localize }}
                      </label>
                      <span
                        style="color: red; margin-left: 5px; font-size: 14pt"
                        >*</span
                      >
                    </div>
                    <div class="col">
                      <select class="form-control" [(ngModel)]="storageCode" (change)="getDataPage(1)" [ngModelOptions]="{standalone: true}" aria-label="Default select example">
                        <option value="0" *ngIf="getStorage.items" selected>Kho</option>
                        <option *ngFor="let storage of getStorage.items;let i = index" value="{{storage.storageCode}}" [selected]="true">{{storage.storageName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <button
                          type="button"
                          class="btn bg-blue"
                          (click)="getDataPage(1)"
                        >
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        name="keyword"
                        [placeholder]="'SearchWithThreeDot' | localize"
                        [(ngModel)]="keyword"
                        (keydown)="getDataPage(1)"
                      />
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15px">
                    <div class="table-responsive">
                      <p-table [value]="products" dataKey="productId" [(selection)]="selectedProducts"
                      [busy]="isTableLoading">
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 4rem">
                              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>{{ "Mã sản phẩm" | localize }}</th>
                            <th>{{ "Tên sản phẩm" | localize }}</th>
                            <th>{{ "Số lượng" | localize }}</th>
                            <th>{{ "Đơn vị tính" | localize }}</th>
                            <th>{{ "Giá" | localize }}</th>
                            <th>{{ "Đơn giá" | localize }}</th>
                            <th></th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product let-i="index">
                          <tr>
                            <td>
                              <p-tableCheckbox [value]="product"></p-tableCheckbox>
                            </td>
                            <td>{{ product.productId }}</td>
                            <td>{{ product.productName }}</td>
                            <td style="width: 90px">
                              <!-- <input
                                [disabled]="selectedProducts.length === 0"
                                min="1"
                                type="number"
                                class="form-control"
                                value="{{ product.quantity }}"
                                style="width: 80px"
                                [(ngModel)]="product.quantity"
                                [ngModelOptions]="{standalone: true}"
                                (change)="changeQuantity(product)"
                              /> -->
                              <input
                                [disabled]="selectedProducts[i] === undefined"
                                min="1"
                                type="number"
                                class="form-control"
                                value="{{ product.quantity }}"
                                style="width: 80px"
                                [(ngModel)]="product.quantity"
                                [ngModelOptions]="{standalone: true}"
                              />
                            </td>
                            <td>{{ product.unit }}</td>
                            <td>{{ product.price | currency : "VND" }}</td>
                            <td [innerHTML]="product.finalPrice | currency: 'VND'"></td>
                            <!-- <td style="width: 35px">
                              <input
                                type="checkbox"
                                class="form-control"
                                (change)="AddItem(product, i)"
                                style="width: 25px; height: 25px"
                              />
                            </td> -->
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </div>
              <abp-modal-footer
                [cancelDisabled]="saving"
                [saveDisabled]="checkFormValid() || saving"
                (onCancelClick)="Cancel()"
              ></abp-modal-footer>
            </div>
          </div>
        </tab>
        <tab [heading]="'Nhập kho' | localize" class="pt-3 px-2">
          <div class="container-add">
            <div class="container-row">
              <app-import></app-import>
            </div>
          </div>
        </tab>        
        <tab [heading]="'Nhập sản phẩm' | localize" class="pt-3 px-2">
          <div class="container-add">
            <div class="container-row">
              <app-return-import></app-return-import>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </form>
</div>
