<div [@routerTransition]>
  <h4 class="text-center mb-3">{{ "LogIn" | localize }}</h4>
  <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <div class="p-inputgroup">
        <!-- <input
          type="text"
          class="form-control"
          name="userNameOrEmailAddress"
          [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
          [placeholder]="'UserNameOrEmail' | localize"
          required
          maxlength="256"
          #userNameOrEmailAddressModel="ngModel"
          #userNameOrEmailAddressEl
        /> -->
        <input type="text"
                  name="userNameOrEmailAddress"
                  [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
                  [placeholder]="'UserNameOrEmail' | localize"
                  required
                  pInputText 
                  maxlength="256"
                  #userNameOrEmailAddressModel="ngModel"
                  #userNameOrEmailAddressEl>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary
        [control]="userNameOrEmailAddressModel"
        [controlEl]="userNameOrEmailAddressEl"
      ></abp-validation-summary>
    </div>
    <div class="form-group">
      <div class="input-group">
        <!-- <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="authService.authenticateModel.password"
          [placeholder]="'Password' | localize"
          required
          maxlength="32"
          #passwordModel="ngModel"
          #passwordEl
        /> -->
        <p-password 
        id="password1" 
        [(ngModel)]="authService.authenticateModel.password" 
        [feedback]="false" 
        placeholder="Password" 
        [toggleMask]="true"
        [ngModelOptions]="{standalone: true}"
        [inputStyle]="{'width': '100%'}"
        [style]="{'width': '100%'}"
        #passwordModel="ngModel"
        #passwordEl></p-password>
        <!-- <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div> -->
      </div>
      <abp-validation-summary
        [control]="passwordModel"
        [controlEl]="passwordEl"
      ></abp-validation-summary>
    </div>
    <div class="form-group row">
      <div class="col-md-8">
        <div class="custom-control">
          <!-- <input
            type="checkbox"
            class="custom-control-input"
            id="rememberMe"
            name="rememberMe"
            [(ngModel)]="authService.rememberMe"
          /> -->
          <p-checkbox [style]="{'margin-right': '15px'}"
            [(ngModel)]="authService.rememberMe"
            [ngModelOptions]="{standalone: true}"
            [binary]="true"
          ></p-checkbox>
          <span>Ghi nhớ tôi</span>
          <!-- <label class="custom-control-label">
            {{ "RememberMe" | localize }}
          </label> -->
        </div>
      </div>
      <div class="col-md-4">
        <!-- <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="!loginForm.form.valid || submitting"
        >
          {{ "LogIn" | localize }}
        </button> -->
        <p-button type="submit" 
        pRipple 
        label="Sign In" 
        [loading]="submitting"
        [disabled]="!loginForm.form.valid || submitting"></p-button>
      </div>
    </div>
  </form>
  <p *ngIf="isSelfRegistrationAllowed" class="mb-1">
    <a [routerLink]="['../register']">
      <i class="fa fa-plus-circle"></i> {{ "Register" | localize }}
    </a>
  </p>
</div>

<!-- <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center"> -->
      <!-- <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
          <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px"> -->
              <!-- <div class="text-center mb-5">
                  <span class="text-600 font-medium">Sign in to continue</span>
              </div>

              <div>
                  <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                  <input type="text"
                  name="userNameOrEmailAddress"
                  [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
                  [placeholder]="'UserNameOrEmail' | localize"
                  required
                  pInputText class="w-full md:w-30rem mb-5" style="padding:1rem"
                  maxlength="256">

                  <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                  <p-password id="password1" [(ngModel)]="authService.authenticateModel.password" [feedback]="false" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                  <div class="flex align-items-center justify-content-between mb-5 gap-5">
                      <div class="flex align-items-center">
                          <p-checkbox id="rememberMe" [(ngModel)]="authService.rememberMe" name="rememberMe" [binary]="true" styleClass="mr-2"></p-checkbox>
                          <label for="rememberme1">Remember me</label>
                      </div>
                      <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot password?</a>
                  </div>
                  <p-button type="submit" pRipple label="Sign In" class="w-full p-3 text-xl"></p-button>
              </div> -->
          <!-- </div>
      </div> -->
  <!-- </div>
</div> -->