<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Xuất nhập kho" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <a
            href="javascript:;"
            class="btn bg-blue"
            routerLink="create"
            *ngIf="isGranted('Pages.System.ExportImport.Add') == true"
          >
            <i class="fa fa-plus-square"></i>
            {{ "Tạo" | localize }}
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">&emsp;</div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="btn bg-blue"
                    (click)="getDataPage(1)"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                  [(ngModel)]="keyword"
                  (keydown)="getDataPage(1)"
                />
              </div>
            </div>
          </div>
          <div class="card mb-0 mt-2">
            <div class="card-body">
              <form class="form-horizontal">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row mb-0">
                      <div class="col pt-2">
                        <select
                          class="form-control"
                          [(ngModel)]="storageCode"
                          [ngModelOptions]="{ standalone: true }"
                          (change)="getDataPage(1)"
                          aria-label="Default select example"
                        >
                          <option value="0" selected>Kho</option>
                          <option
                            *ngFor="let storage of getStorage; let i = index"
                            value="{{ storage.storageCode }}"
                            [selected]="true"
                          >
                            {{ storage.storageName }}
                          </option>
                        </select>
                      </div>
                      <div class="col pt-2">
                        <input
                          type="text"
                          placeholder="Ngày/tháng/năm"
                          class="form-control"
                          bsDaterangepicker
                          [bsConfig]="{
                            isAnimated: true,
                            rangeInputFormat: 'DD/MM/YYYY'
                          }"
                          [(ngModel)]="bsInlineRangeValue"
                          [ngModelOptions]="{ standalone: true }"
                          (ngModelChange)="getDataPage(1)"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <tabset style="margin-left: 10px; margin-top: 10px">
          <tab
            (selectTab)="orderStatus = 1; getDataPage(1)"
            [heading]="'Đang thực hiện'"
          >
            <div class="card-body">
              <div class="table-responsive" style="margin-top: 15px">
                <table
                  class="table table-striped table-bordered"
                >
                  <thead class="bg-light">
                    <tr>
                      <th>{{ "Mã đơn" | localize }}</th>
                      <th>{{ "Người nhận" | localize }}</th>
                      <th>{{ "Địa chỉ nhận" | localize }}</th>
                      <th>{{ "Kho xuất" | localize }}</th>
                      <th>{{ "Loại đơn" | localize }}</th>
                      <th>{{ "Tổng tiền" | localize }}</th>
                      <th>{{ "Ngày tạo" | localize }}</th>
                      <th>{{ "Ngày cập nhật" | localize }}</th>
                      <th>{{ "Người tạo đơn" | localize }}</th>
                      <th style="width: 200px">{{ "Hành động" | localize }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let exportImport of exportImportList
                          | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                              }
                      "
                    >
                      <td>
                        <a
                          [routerLink]="[
                            'detail',
                            exportImport.exportImportCode
                          ]"
                          >{{ exportImport.exportImportCode }}</a
                        >
                      </td>
                      <td>{{ exportImport.nameOfReceiver }}</td>
                      <td>{{ exportImport.address }}</td>
                      <td *ngIf="exportImport.nameOfExport == null">{{ exportImport.storageName }}</td>
                      <td *ngIf="exportImport.nameOfExport != null">{{ exportImport.nameOfExport }}</td>
                      <td>
                        <span *ngIf="exportImport.orderType == 1"
                          >Xuất kho</span
                        >
                        <span *ngIf="exportImport.orderType == 2"
                          >Nhập trả kho</span
                        >
                        <span *ngIf="exportImport.orderType == 3"
                          >Nhập kho</span
                        >
                      </td>
                      <td>
                        {{ exportImport.totalPrice | currency : "VND" }}
                      </td>
                      <td>
                        {{ exportImport.creationTime | date : "dd/MM/yyyy" }}
                      </td>
                      <td>
                        {{
                          exportImport.lastModifiedDate | date : "dd/MM/yyyy"
                        }}
                      </td>
                      <td>{{ exportImport.username }}</td>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <button
                              type="button"
                              class="btn btn-sm bg-secondary"
                              (click)="editUser(user)"
                              *ngIf="
                                isGranted('Pages.System.ExportImport.Add') ==
                                true
                              "
                              [routerLink]="[
                                'edit',
                                exportImport.exportImportCode
                              ]"
                              style="width: 70px"
                            >
                              <i class="fas fa-pencil-alt"></i>
                              {{ "Sửa" | localize }}
                            </button>
                            </td>
                            <td>
                              <button
                              type="button"
                              class="btn btn-sm bg-success"
                              (click)="resetPassword(user)"
                              *ngIf="
                                isGranted('Pages.System.ExportImport.View') ==
                                true
                              "
                              (click)="finishOrder(exportImport)"
                              style="width: 103px"
                            >
                              <i class="far fa-check-circle"></i>
                              {{ "Hoàn thành" | localize }}
                            </button>
                            </td>
                            <td>
                              <button
                              type="button"
                              class="btn btn-sm bg-danger"
                              (click)="delete(exportImport)"
                              *ngIf="
                                isGranted('Pages.System.ExportImport.View') ==
                                true
                              "
                              style="width: 70px"
                            >
                              <i class="fas fa-trash"></i>
                              {{ "Hủy" | localize }}
                            </button>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </tab>
          <tab
            (selectTab)="orderStatus = 2; getDataPage(1)"
            [heading]="'Đã hoàn thành'"
          >
            <div class="card-body">
              <div class="table-responsive" style="margin-top: 15px">
                <table
                  class="table table-striped table-bordered"
                >
                  <thead class="bg-light">
                    <tr>
                      <th>{{ "Mã đơn" | localize }}</th>
                      <th>{{ "Người nhận" | localize }}</th>
                      <th>{{ "Địa chỉ nhận" | localize }}</th>
                      <th>{{ "Kho xuất" | localize }}</th>
                      <th>{{ "Loại đơn" | localize }}</th>
                      <th>{{ "Tổng tiền" | localize }}</th>
                      <th>{{ "Ngày tạo" | localize }}</th>
                      <th>{{ "Ngày cập nhật" | localize }}</th>
                      <th>{{ "Người tạo đơn" | localize }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let exportImport of exportImportList
                          | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                              }
                      "
                    >
                      <td>
                        <a
                          [routerLink]="[
                            'detail',
                            exportImport.exportImportCode
                          ]"
                          >{{ exportImport.exportImportCode }}</a
                        >
                      </td>
                      <td>{{ exportImport.nameOfReceiver }}</td>
                      <td>{{ exportImport.address }}</td>
                      <td>{{ exportImport.storageName }}</td>
                      <td>
                        <span *ngIf="exportImport.orderType == 1"
                          >Xuất kho</span
                        >
                        <span *ngIf="exportImport.orderStatus == 3"
                          >Nhập trả kho</span
                        >
                        <span *ngIf="exportImport.orderType == 3 || exportImport.orderType == 2"
                          >Nhập kho</span
                        >
                      </td>
                      <td>
                        {{ exportImport.totalPrice | currency : "VND" }}
                      </td>
                      <td>
                        {{ exportImport.creationTime | date : "dd/MM/yyyy" }}
                      </td>
                      <td>
                        {{
                          exportImport.lastModifiedDate | date : "dd/MM/yyyy"
                        }}
                      </td>
                      <td>{{ exportImport.username }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </tab>
          <tab
            (selectTab)="orderStatus = 3; getDataPage(1)"
            [heading]="'Đã hủy'"
          >
            <div class="card-body">
              <div class="table-responsive" style="margin-top: 15px">
                <table
                  class="table table-striped table-bordered"
                >
                  <thead class="bg-light">
                    <tr>
                      <th>{{ "Mã đơn" | localize }}</th>
                      <th>{{ "Người nhận" | localize }}</th>
                      <th>{{ "Địa chỉ nhận" | localize }}</th>
                      <th>{{ "Kho xuất" | localize }}</th>
                      <th>{{ "Loại đơn" | localize }}</th>
                      <th>{{ "Tổng tiền" | localize }}</th>
                      <th>{{ "Ngày tạo" | localize }}</th>
                      <th>{{ "Ngày cập nhật" | localize }}</th>
                      <th>{{ "Người tạo đơn" | localize }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let exportImport of exportImportList
                          | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                              }
                      "
                    >
                      <td>
                        <a
                          [routerLink]="[
                            'detail',
                            exportImport.exportImportCode
                          ]"
                          >{{ exportImport.exportImportCode }}</a
                        >
                      </td>
                      <td>{{ exportImport.nameOfReceiver }}</td>
                      <td>{{ exportImport.address }}</td>
                      <td>{{ exportImport.storageName }}</td>
                      <td>
                        <span *ngIf="exportImport.orderType == 1"
                          >Xuất kho</span
                        >
                        <span *ngIf="exportImport.orderType == 2"
                          >Nhập trả kho</span
                        >
                        <span *ngIf="exportImport.orderType == 3"
                          >Nhập kho</span
                        >
                      </td>
                      <td>
                        {{ exportImport.totalPrice | currency : "VND" }}
                      </td>
                      <td>
                        {{ exportImport.creationTime | date : "dd/MM/yyyy" }}
                      </td>
                      <td>
                        {{
                          exportImport.lastModifiedDate | date : "dd/MM/yyyy"
                        }}
                      </td>
                      <td>{{ exportImport.username }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </tab>
        </tabset>
        <div class="card-footer table-card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize : totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
