<div [@routerTransition]>
  <section class="content px-2" style="margin-left: 15px; margin-right: 15px">
    <p-panel>
      <ng-template pTemplate="header">
        <div class="col-6">
          <h1>{{ "Xuất nhập kho" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <p-button
            label="Tạo"
            routerLink="create"
            *ngIf="isGranted('Pages.System.ExportImport.Add') == true"
          >
          </p-button>
        </div>
      </ng-template>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">&emsp;</div>
          <div class="col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="getDataPage(1)"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="keyword"
                [placeholder]="'SearchWithThreeDot' | localize"
                [(ngModel)]="keyword"
                (keydown)="getDataPage(1)"
              />
            </div>
          </div>
        </div>
        <div class="card mb-0 mt-2">
          <div class="card-body">
            <form class="form-horizontal">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row mb-0">
                    <div class="col pt-2">
                      <select
                        class="form-control"
                        [(ngModel)]="storageCode"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="getDataPage(1)"
                        aria-label="Default select example"
                      >
                        <option value="0" selected>Kho</option>
                        <option
                          *ngFor="
                            let storage of getStorage.items;
                            let i = index
                          "
                          value="{{ storage.storageCode }}"
                        >
                          {{ storage.storageName }}
                        </option>
                      </select>
                    </div>
                    <div class="col pt-2">
                      <input type="text"
                            placeholder="Ngày/tháng/năm"
                            class="form-control"
                            bsDaterangepicker
                            [bsConfig]="{ isAnimated: true }"
                            [(ngModel)]="bsInlineRangeValue"
                            [ngModelOptions]="{ standalone: true }"
                            (ngModelChange)="getDataPage(1)"
                          />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <tabset style="margin-left: 10px; margin-top: 10px">
        <tab
          (selectTab)="orderStatus = 1; getDataPage(1)"
          [heading]="'Đang thực hiện'"
        >
        </tab>
        <tab
          (selectTab)="orderStatus = 2; getDataPage(1)"
          [heading]="'Đã hoàn thành'"
        >
        </tab>
        <tab (selectTab)="orderStatus = 3; getDataPage(1)" [heading]="'Đã hủy'">
        </tab>
      </tabset>
      <div class="card-body">
        <div class="table-responsive" style="margin-top: 15px">
          <p-table [value]="exportImportList" [busy]="isLoading">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="exportImportCode">
                  {{ "Mã đơn" | localize
                  }}<p-sortIcon field="exportImportCode"></p-sortIcon>
                </th>
                <th pSortableColumn="nameOfReceiver">
                  {{ "Người nhận" | localize
                  }}<p-sortIcon field="nameOfReceiver"></p-sortIcon>
                </th>
                <th pSortableColumn="address">
                  {{ "Địa chỉ nhận" | localize
                  }}<p-sortIcon field="address"></p-sortIcon>
                </th>
                <th>{{ "Kho xuất" | localize }}</th>
                <th pSortableColumn="orderType">
                  {{ "Loại đơn" | localize
                  }}<p-sortIcon field="orderType"></p-sortIcon>
                </th>
                <th pSortableColumn="totalPrice">
                  {{ "Tổng tiền" | localize
                  }}<p-sortIcon field="totalPrice"></p-sortIcon>
                </th>
                <th pSortableColumn="creationTime">
                  {{ "Ngày tạo" | localize
                  }}<p-sortIcon field="creationTime"></p-sortIcon>
                </th>
                <th pSortableColumn="lastModifiedDate">
                  {{ "Ngày cập nhật" | localize
                  }}<p-sortIcon field="lastModifiedDate"></p-sortIcon>
                </th>
                <th pSortableColumn="username">
                  {{ "Người tạo đơn" | localize
                  }}<p-sortIcon field="username"></p-sortIcon>
                </th>
                <th *ngIf="orderStatus == 1" style="width: 200px">
                  {{ "Hành động" | localize }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-exportImport>
              <tr>
                <td>
                  <a [routerLink]="['detail', exportImport.exportImportCode]">{{
                    exportImport.exportImportCode
                  }}</a>
                </td>
                <td>{{ exportImport.nameOfReceiver }}</td>
                <td>{{ exportImport.address }}</td>
                <td *ngIf="exportImport.nameOfExport == null">
                  {{ exportImport.storageName }}
                </td>
                <td *ngIf="exportImport.nameOfExport != null">
                  {{ exportImport.nameOfExport }}
                </td>
                <td>
                  <span *ngIf="exportImport.orderType == 1">Xuất kho</span>
                  <span *ngIf="exportImport.orderType == 2">Nhập trả kho</span>
                  <span *ngIf="exportImport.orderType == 3">Nhập kho</span>
                </td>
                <td>
                  {{ exportImport.totalPrice | currency : "VND" }}
                </td>
                <td>
                  {{ exportImport.creationTime | date : "dd/MM/yyyy" }}
                </td>
                <td>
                  {{ exportImport.lastModifiedDate | date : "dd/MM/yyyy" }}
                </td>
                <td>{{ exportImport.username }}</td>
                <td *ngIf="orderStatus == 1">
                  <table>
                    <tr>
                      <td>
                        <button
                          type="button"
                          class="btn btn-sm bg-secondary"
                          *ngIf="
                            isGranted('Pages.System.ExportImport.Add') == true
                          "
                          [routerLink]="['edit', exportImport.exportImportCode]"
                          style="width: 70px"
                        >
                          <i class="fas fa-pencil-alt"></i>
                          {{ "Sửa" | localize }}
                        </button>
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-sm bg-success"
                          *ngIf="
                            isGranted('Pages.System.ExportImport.View') == true
                          "
                          (click)="finishOrder(exportImport)"
                          style="width: 103px"
                        >
                          <i class="far fa-check-circle"></i>
                          {{ "Hoàn thành" | localize }}
                        </button>
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-sm bg-danger"
                          (click)="delete(exportImport)"
                          *ngIf="
                            isGranted('Pages.System.ExportImport.View') == true
                          "
                          style="width: 70px"
                        >
                          <i class="fas fa-trash"></i>
                          {{ "Hủy" | localize }}
                        </button>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="card-footer table-card-footer bg-light border-top">
        <div class="row">
          <div class="col-sm-3 col-12 text-sm-left text-center">
            <button class="btn btn-secondary" (click)="refresh()">
              <i class="fas fa-redo-alt"></i>
            </button>
          </div>
          <!-- <div class="col-sm-4 col-12 text-center">
            <p class="mb-0 my-2">
              {{ "TotalRecordsCount" | localize : totalItems }}
            </p>
          </div> -->
          <div class="col-sm-5 col-12">
            <div class="float-sm-right m-auto">
              <p-paginator
                (onPageChange)="getDataPage($event)"
                [first]="first"
                [rows]="rows"
                [totalRecords]="totalItems"
                [rowsPerPageOptions]="[6, 10, 15]"
              ></p-paginator>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </section>
</div>
