.container-add {
    margin-top: 2%;
    margin-right: 0px;
    margin-left: 0px;
    background-color: white;
}

.container-row {
    padding-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 3%;
}