<form
  class="form-horizontal"
  autocomplete="off"
  #createRoleForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Thêm vai trò' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Chi tiết' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Tên vai trò" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="role.name"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="displayName">
            {{ "Tên hiển thị" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="displayName"
              id="displayName"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="role.displayName"
              #displayNameModel="ngModel"
              #displayNameEl
            />
            <abp-validation-summary
              [control]="displayNameModel"
              [controlEl]="displayNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Chú thích" | localize }}
          </label>
          <div class="col-md-9">
            <textarea
              type="text"
              class="form-control"
              name="description"
              id="description"
              [(ngModel)]="role.description"
            >
            </textarea>
          </div>
        </div>
      </tab>
      <tab [heading]="'Phân quyền' | localize" class="pt-3 px-2">
        <div class="form-group row mb-0">
            <dl *ngFor="let permission of permissions1; let i = index">
              <dt class="mr-4 mb-2">
                <input
                type="checkbox"
                [id]="'permission_' + i"
                [checked]="isPermissionChecked(permission.data)"
                (change)="onFatherPermissionChange(permission.data, $event)"
              />              
              <strong class="ml-2">{{permission.label}}</strong>
              </dt>
              <dd class="ml-4" *ngFor="let name of permission.children">
                <input 
                    id="vue-checkbox" 
                    type="checkbox" 
                    value="" 
                    [(ngModel)]="name.checked"
                    [ngModelOptions]="{standalone: true}"
                    (change)="onPermissionChange(name.data, $event)"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <span class="ml-2">{{name.label}}</span>
              </dd>
            </dl>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createRoleForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
