<div [@routerTransition]>
    <form autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
      <div class="modal-body">
            <div class="container-add">
              <div class="container-row">
                <div class="row" style="padding-bottom: 25px">
                  <div class="col">
                    <div class="row">
                      <div class="col required">
                        <label for="name">
                          {{ "Mã đơn" | localize }}
                        </label>
                        <span
                          style="color: red; margin-left: 5px; font-size: 14pt"
                          >*</span
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input
                          pInputText
                          type="text"
                          required
                          [style]="{'width':'100%'}"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="exportImport.retailCode"
                          #nameCode="ngModel"
                          #nameCodeEl
                        />
                        <abp-validation-summary
                          [control]="nameCode"
                          [controlEl]="nameCodeEl"
                        ></abp-validation-summary>
                      </div>
                      <div class="col">
                        <p-button
                        label="Random"
                        (click)="getRandomCode()"
                        >
                        </p-button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col required">
                        <label for="name">
                          {{ "Chi nhánh" | localize }}
                        </label>
                        <span
                          style="color: red; margin-left: 5px; font-size: 14pt"
                          >*</span
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <!-- <input
                          type="text"
                          class="form-control"
                          name="address"
                          [(ngModel)]="customerInput.customerAdress"
                          id="address"
                          required
                          maxlength="32"
                        /> -->
                        <!-- <p-dropdown [style]="{'width':'100%'}" [options]="getStructure" (onClick)="getStorageClick(selectedStructure.code)" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedStructure" optionLabel="name"></p-dropdown> -->
                        <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                        <p-dropdown [style]="{'width':'100%'}" 
                        [options]="getStructure" 
                        (onClick)="getStorageAndEmployeeClick(selectedStructure.code)"
                        [(ngModel)]="selectedStructure" 
                        [ngModelOptions]="{standalone: true}" 
                        optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Chi nhánh">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>              
                <div class="row" style="padding-bottom: 25px">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <label for="name">
                          {{ "Hình thức mua" | localize }}
                        </label>
                        <span
                          style="color: red; margin-left: 5px; font-size: 14pt"
                          >*</span
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p-dropdown [style]="{'width':'100%'}" 
                          [options]="dropDownValues" 
                          [(ngModel)]="selectedDropDownValues" 
                          [ngModelOptions]="{standalone: true}" 
                          optionLabel="name"  [showClear]="true" placeholder="Hình thức">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="col" *ngIf="selectedDropDownValues !== undefined && selectedDropDownValues.code !== 'GV'">
                    <div class="row">
                      <div class="col">
                        <label for="name">
                          {{ "Phương thức thanh toán" | localize }}
                        </label>
                        <span
                          style="color: red; margin-left: 5px; font-size: 14pt"
                          >*</span
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p-dropdown [style]="{'width':'100%'}" 
                          [options]="phuongThucThanhToan" 
                          [(ngModel)]="selectedPhuongThuc" 
                          [ngModelOptions]="{ standalone: true }"
                          optionLabel="name" [showClear]="true" placeholder="Phương thức">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <label for="name">
                          {{ "Người lập phiếu" | localize }}
                        </label>
                        <span
                          style="color: red; margin-left: 5px; font-size: 14pt"
                          >*</span
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <!-- <select
                          required
                          #selectModel="ngModel"
                          #selectEl
                          class="form-control"
                          [(ngModel)]="exportImport.orderCreator"
                          [ngModelOptions]="{ standalone: true }"
                          aria-label="Default select example"
                        >
                          <option value="0" selected>Người lập phiếu</option>
                          <option *ngFor="let usd of user.items;let i = index" value="{{usd.id}}">
                            {{usd.name}}</option>
                        </select> -->
                        <p-dropdown [style]="{'width':'100%'}" 
                          [options]="employee" 
                          [(ngModel)]="employeeSelected" 
                          [ngModelOptions]="{standalone: true}" 
                          optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Nhân viên">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="col" *ngIf="selectedDropDownValues !== undefined && selectedDropDownValues.code === 'GV'">
                    <div class="row">
                      <div class="col">
                        <label for="name">
                          {{ "Nhân viên giao hàng" | localize }}
                        </label>
                        <span
                          style="color: red; margin-left: 5px; font-size: 14pt"
                          >*</span
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <!-- <select
                          required
                          #selectModel="ngModel"
                          #selectEl
                          class="form-control"
                          [(ngModel)]="exportImport.orderCreator"
                          [ngModelOptions]="{ standalone: true }"
                          aria-label="Default select example"
                        >
                          <option value="0" selected>Người lập phiếu</option>
                          <option *ngFor="let usd of user.items;let i = index" value="{{usd.id}}">
                            {{usd.name}}</option>
                        </select> -->
                        <p-dropdown [style]="{'width':'100%'}" 
                          [options]="employee" 
                          [(ngModel)]="employeeDeliverySelected" 
                          [ngModelOptions]="{standalone: true}" 
                          optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Nhân viên">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-bottom: 25px">
                    <div class="col">
                        <div class="row">
                          <div class="col required">
                            <label for="name">
                              {{ "Số điện thoại khách" | localize }}
                            </label>
                            <span
                              style="color: red; margin-left: 5px; font-size: 14pt"
                              >*</span
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <!-- <input
                              type="text"
                              class="form-control"
                              name="phoneNumber"
                              id="phoneNumber"
                              [(ngModel)]="customer.customerPhone"
                              required
                              maxlength="32"
                            /> -->
                            <input
                              pInputText
                              pKeyFilter="int"
                              required
                              [style]="{'width':'100%'}"
                              [ngModelOptions]="{ standalone: true }"
                              [(ngModel)]="customerInput.phoneToCall"
                            />
                            <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                          </div>
                          <div class="col">
                            <p-button
                            [disabled]="customerInput.phoneToCall === undefined || customerInput.phoneToCall === ''"
                            label="Tìm kiếm"
                            (click)="getCustomer()"
                            >
                            </p-button>
                          </div>
                        </div>
                      </div>
                  <div class="col">
                    <div class="row">
                      <div class="col required">
                        <label for="name">
                          {{ "Khách hàng" | localize }}
                        </label>
                        <span
                          style="color: red; margin-left: 5px; font-size: 14pt"
                          >*</span
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input
                          pInputText
                          type="text"
                          required
                          [style]="{'width':'100%'}"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="customerInput.customerName"
                          #nameCode="ngModel"
                          #nameCodeEl
                        />
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row" style="padding-bottom: 25px" *ngIf="selectedDropDownValues !== undefined && selectedDropDownValues.code === 'GV'">
                  <div class="col">
                    <div class="row">
                      <div class="col required">
                        <label for="name">
                          {{ "Địa chỉ" | localize }}
                        </label>
                        <span
                          style="color: red; margin-left: 5px; font-size: 14pt"
                          >*</span
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <!-- <input
                          type="text"
                          class="form-control"
                          name="address"
                          [(ngModel)]="customerInput.customerAdress"
                          id="address"
                          required
                          maxlength="32"
                        /> -->
                        <input
                          pInputText
                          type="text"
                          required
                          [style]="{'width':'100%'}"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="customerInput.reveciveAddress"
                          #nameCode="ngModel"
                          #nameCodeEl
                        />
                        <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-bottom: 25px">
                  <div class="col">
                    <p-button [disabled]="selectedStructure === undefined || selectedDropDownValues === undefined" (click)="showDialog()" label="Thêm"></p-button>
                  </div>
                </div>
  
                <div class="row" style="margin-top: 15px">
                  <div class="table-responsive">
                    <p-table [value]="productsList" dataKey="productId" [(selection)]="selectedProducts"
                    [busy]="isTableLoading">
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 4rem">
                            <p-button icon="pi pi-minus" (onClick)="deleteAllProduct()" styleClass="p-button-danger p-button-text"></p-button>
                          </th>
                          <th>{{ "Mã kho" | localize }}</th>
                          <th>{{ "Mã sản phẩm" | localize }}</th>
                          <th>{{ "Tên sản phẩm" | localize }}</th>
                          <th>{{ "Số lượng" | localize }}</th>
                          <th>{{ "Đơn vị tính" | localize }}</th>
                          <th>{{ "Giá" | localize }}</th>
                          <th>{{ "Đơn giá" | localize }}</th>
                          <th></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-product>
                        <tr>
                          <td>
                            <p-button icon="pi pi-minus" (onClick)="deleteProduct(product)" styleClass="p-button-danger p-button-text"></p-button>
                          </td>
                          <td>{{ product.storageId }}</td>
                          <td>{{ product.productId }}</td>
                          <td>{{ product.productName }}</td>
                          <td style="width: 90px">
                            <!-- <input
                              [disabled]="selectedProducts.length === 0"
                              min="1"
                              type="number"
                              class="form-control"
                              value="{{ product.quantity }}"
                              style="width: 80px"
                              [(ngModel)]="product.quantity"
                              [ngModelOptions]="{standalone: true}"
                              (change)="changeQuantity(product)"
                            /> -->
                            <input
                              min="1"
                              type="number"
                              class="form-control"
                              value="{{ product.quantity }}"
                              style="width: 80px"
                              [(ngModel)]="product.quantity"
                              [ngModelOptions]="{standalone: true}"
                            />
                          </td>
                          <td>{{ product.unit }}</td>
                          <td>{{ product.price | currency : "VND" }}</td>
                          <td [innerHTML]="product.price * product.quantity | currency: 'VND'"></td>
                          <!-- <td style="width: 35px">
                            <input
                              type="checkbox"
                              class="form-control"
                              (change)="AddItem(product, i)"
                              style="width: 25px; height: 25px"
                            />
                          </td> -->
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
                <abp-modal-footer
                  [cancelDisabled]="saving"
                  [saveDisabled]="checkFormValid() || saving"
                  (onCancelClick)="Cancel()"
                ></abp-modal-footer>
              </div>
            </div>
          <!-- <tab [heading]="'Nhập sản phẩm' | localize" class="pt-3 px-2">
            <div class="container-add">
              <div class="container-row">
                <app-return-import></app-return-import>
              </div>
            </div>
          </tab> -->
      </div>
    </form>
  
    <p-dialog [(visible)]="visible" (onHide)="closeModal()" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="header">
          <span class="text-xl font-bold">Chọn sản phẩm</span>
        </ng-template>
        <div class="calendar">
          <div class="row">
            <div class="input-group" style="width: 89%; left: 20px;">
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="getDataPage(1)"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="keyword"
                [placeholder]="'SearchWithThreeDot' | localize"
                [(ngModel)]="keyword"
                (keyup.enter)="getDataPage(1)"
              />
            </div>
          </div>
  
        </div>
        <div class="row" style="margin-top: 90px">
          <div class="table-responsive">
            <p-table [value]="products" dataKey="productId" [(selection)]="selectedProductsForInput" 
            [scrollable]="true" 
            scrollHeight="450px" 
            [busy]="isTableLoading">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 4rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>{{ "Mã sản phẩm" | localize }}</th>
                    <th>{{ "Tên sản phẩm" | localize }}</th>
                    <th>{{ "Số lượng" | localize }}</th>
                    <th>{{ "Đơn vị tính" | localize }}</th>
                    <th>{{ "Giá" | localize }}</th>
                    <th>{{ "Đơn giá" | localize }}</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
  
                  <tr>
                    <td>
                      <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>
                    <td>{{ product.productId }}</td>
                    <td>{{ product.productName }}</td>
                    <td style="width: 90px">
                      <!-- <input
                        [disabled]="selectedProducts.length === 0"
                        min="1"
                        type="number"
                        class="form-control"
                        value="{{ product.quantity }}"
                        style="width: 80px"
                        [(ngModel)]="product.quantity"
                        [ngModelOptions]="{standalone: true}"
                        (change)="changeQuantity(product)"
                        /> -->
                        <input
                        [disabled]="!isProductSelectedInput(product)"
                        min="1"
                        type="number"
                        class="form-control"
                        value="{{ product.quantity }}"
                        style="width: 80px"
                        [(ngModel)]="product.quantity"
                        [ngModelOptions]="{standalone: true}"
                        />
                    </td>
                    <td>{{ product.unit }}</td>
                    <td>{{ product.price | currency : "VND" }}</td>
                    <td [innerHTML]="product.price * product.quantity | currency: 'VND'"></td>
                    <!-- <td style="width: 35px">
                      <input
                      type="checkbox"
                      class="form-control"
                      (change)="AddItem(product, i)"
                      style="width: 25px; height: 25px"
                      />
                    </td> -->
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <p-paginator
            (onPageChange)="getDataPage($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalItems"
            [rowsPerPageOptions]="[10, 15, 20]"
          ></p-paginator>
          </div>
          <ng-template pTemplate="footer">
            <div class="modal-footer justify-content-center">
              <p-button
              type="button"
              label="Hủy"
              styleClass="p-button-outlined"
              (click)="closeModal()"
            ></p-button>
            <p-button icon="pi pi-check" (click)="visible = false; addProduct()" label="Ok" styleClass="p-button-text"></p-button>
          </div>
        </ng-template>
    </p-dialog>
  </div>
  