<div [@routerTransition]>
      <div class="modal-body">
            <div class="container-add">
              <div class="container-row">
                <div class="row" style="padding-bottom: 25px">
                  <div class="col">
                    <div class="row">
                      <div class="col required">
                        <label for="name">
                          {{ "Mã đơn:" | localize }}
                        </label>
                        <span style="margin-left: 20px;">
                            {{ exportImport.exportImportCode }}
                        </span>
                      </div>
                      <div class="col"></div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <label for="name">
                          {{ "Người lập phiếu:" | localize }}
                        </label>
                        <span style="margin-left: 20px;">
                            {{ exportImport.orderCreator }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-bottom: 25px">
                  <div class="col">
                    <div class="row">
                      <div *ngIf="customer.customerPhone !== null" class="col required">
                        <label for="name">
                          {{ "Số điện thoại khách:" | localize }}
                        </label>
                        <span style="margin-left: 20px;">
                            {{ customer.customerPhone }}
                        </span>
                      </div>
                      <div class="col required" *ngIf="exportImport.storageId !== null && customer.customerPhone === null && exportImport.nameOfExport === null">
                        <label  for="name">
                          {{ "Kho xuất:" | localize }}
                        </label>
                        <span style="margin-left: 20px;">
                            <select disabled class="form-control" [(ngModel)]="exportImport.storageId" [ngModelOptions]="{standalone: true}" aria-label="Default select example">
                                <option value="0" *ngIf="getStorage.items.length" selected>Kho</option>
                                <option *ngFor="let storage of getStorage;let i = index" value="{{storage.storageCode}}" [selected]="true">{{storage.storageName}}</option>
                            </select>
                        </span>
                      </div>
                      <div *ngIf="exportImport.nameOfExport !== null && customer.customerPhone === null" class="col required">
                        <label for="name">
                          {{ "Nơi nhập:" | localize }}
                        </label>
                        <span style="margin-left: 20px;">
                            {{ exportImport.nameOfExport }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                        <div *ngIf="customer.customerPhone !== null" class="col required">
                            <label for="name">
                              {{ "Tên khách:" | localize }}
                            </label>
                            <span style="margin-left: 20px;">
                                {{ customer.customerName }}
                            </span>
                          </div>
                          <div class="col required" *ngIf="exportImport.storageInputId !== null && customer.customerPhone === null">
                            <label  for="name">
                              {{ "Kho Nhập:" | localize }}
                            </label>
                            <span style="margin-left: 20px;">
                                <select disabled class="form-control" [(ngModel)]="exportImport.storageInputId" [ngModelOptions]="{standalone: true}" aria-label="Default select example">
                                    <option value="0">Kho</option>
                                    <option *ngFor="let storage of getStorage;let i = index" value="{{storage.storageCode}}" >{{storage.storageName}}</option>
                                </select>
                            </span>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="customer.customerPhone !== null" style="padding-bottom: 25px">
                  <div class="col">
                    <div class="row">
                      <div class="col required">
                        <label for="name">
                          {{ "Địa chỉ:" | localize }}
                        </label>
                        <span style="margin-left: 20px;">
                            {{ customer.customerAdress }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-bottom: 25px">
                  <div class="col">
                    <div class="row" style="margin-bottom: 10px">
                      <div class="col">
                        <label for="name">
                          {{ "Sản phẩm" | localize }}
                        </label>
                      </div>
                      <div *ngIf="customer.customerPhone !== null" class="col">
                        <select disabled class="form-control" [(ngModel)]="storageCode" [ngModelOptions]="{standalone: true}" aria-label="Default select example">
                          <option value="0" *ngIf="getStorage.items.length === 0" selected>Kho</option>
                          <option *ngFor="let storage of getStorage;let i = index" value="{{storage.storageCode}}" [selected]="true">{{storage.storageName}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="row" style="margin-top: 15px">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                          <thead class="bg-light">
                            <tr>
                              <th>{{ "Mã sản phẩm" | localize }}</th>
                              <th>{{ "Tên sản phẩm" | localize }}</th>
                              <th>{{ "Số lượng" | localize }}</th>
                              <th>{{ "Đơn vị tính" | localize }}</th>
                              <th>{{ "Giá" | localize }}</th>
                              <th>{{ "Đơn giá" | localize }}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let product of products; let i = index">
                              <td>{{ product.productId }}</td>
                              <td>{{ product.productName }}</td>
                              <td>
                                {{ product.quantity }}
                              </td>
                              <td>{{ product.unit }}</td>
                              <td>{{ product.price | currency : "VND" }}</td>
                              <td [innerHTML]="product.finalPrice | currency: 'VND'"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 15px">
                        <strong>Cộng:</strong>
                        <span style="margin-left: 20px;">{{ exportImport.totalPrice | currency : "VND" }}</span>
                    </div>
                  </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default" (click)="Cancel()">
                        Hủy
                    </button>
                </div>
              </div>
            </div>
      </div>
  </div>
  