<div [@routerTransition]>
  <form autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="container-add">
        <div class="container-row">
          <div class="row" style="padding-bottom: 25px">
            <div class="col">
              <div class="row">
                <div class="col required">
                  <label for="name">
                    {{ "Mã danh mục" | localize }}
                  </label>
                  <span style="color: red; margin-left: 5px; font-size: 14pt"
                    >*</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    name="categoryCode"
                    id="categoryCode"
                    required
                    maxlength="32"
                    [(ngModel)]="category.categoryCode"
                    #nameCode="ngModel"
                    #nameCodeEl
                  />
                  <abp-validation-summary
                    [control]="nameCode"
                    [controlEl]="nameCodeEl"
                  ></abp-validation-summary>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="name">
                    {{ "Tên danh mục" | localize }}
                  </label>
                  <span style="color: red; margin-left: 5px; font-size: 14pt"
                    >*</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    name="categoryName"
                    id="categoryName"
                    required
                    maxlength="50"
                    [(ngModel)]="category.categoryName"
                    #nameModel="ngModel"
                    #nameEl
                  />
                  <abp-validation-summary
                    [control]="nameModel"
                    [controlEl]="nameEl"
                  ></abp-validation-summary>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-bottom: 25px">
            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="name">
                    {{ "Chú thích" | localize }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <textarea
                    class="form-control"
                    name="description"
                    id="description"
                    [(ngModel)]="category.description"
                    cols="20"
                    rows="10"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-bottom: 25px">
            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="name">
                    {{ "Danh mục nhỏ:" | localize }}
                  </label>
                  <a
                    style="margin-left: 20px"
                    href="javascript:;"
                    class="btn bg-blue"
                    (click)="AddItem()"
                  >
                    <i class="fa fa-plus-square"></i>
                    {{ "Tạo" | localize }}
                  </a>
                </div>
              </div>
              <div
                class="row"
                style="margin-top: 15px"
                *ngFor="
                  let control of subCategoryFormArray.controls;
                  index as i
                "
              >
                <div class="col" [@routerTransition]>
                  <input
                    class="form-control"
                    (input)="onChange($event.target.value, i)"
                    placeholder="Danh mục nhỏ {{ i }}"
                    [formControl]="subCategoryFormArray.controls[i]"
                  />
                  <span
                    style="display: block"
                    *ngIf="isExist[i]"
                    class="error invalid-feedback"
                  >
                    {{ errorMessage }}
                  </span>
                </div>

                <div class="col">
                  <button
                    type="button"
                    class="btn bg-danger mx-2"
                    (click)="RemoveItem(i)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <abp-modal-footer
            [cancelDisabled]="saving"
            [saveDisabled]="checkFormValid() || saving"
            (onCancelClick)="Cancel()"
          ></abp-modal-footer>
        </div>
      </div>
    </div>
  </form>
</div>
