
<div [@routerTransition]>
    <section class="content px-2" style="padding-top: 20px">
      <p-panel [style]="{ 'margin-left': '15px', 'margin-right': '15px' }">
        <!-- <div class="card"> -->
        <ng-template pTemplate="header">
          <!-- <section class="content-header">
                <div class="container-fluid">
                  <div class="row"> -->
          <div class="col-6">
            <h1>{{ "Thống kê" | localize }}</h1>
          </div>
          <div class="col-6 text-right">
            <!-- <a href="javascript:;"
                        class="btn bg-blue"
                        routerLink="create"
                        *ngIf="isGranted('Pages.System.Product.Add') == true">
                        <i class="fa fa-plus-square"></i>
                        {{ "Thêm" | localize }}
                      </a> -->
              <p-button
              label="Thống kê"
              [loading]="loading"
              (click)="showDialog()"
            >
            </p-button>
          </div>
          <!-- </div>
                </div>
              </section> -->
        </ng-template>
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <h3>
                  Tổng doanh thu: {{ totalSales | currency : "VND" }}
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row"> 
                <div class="col">
                    <h4>Doanh số</h4>
                    <p-chart type="bar" [data]="basicData" height="300px" width="635px" [options]="basicOptions"></p-chart>
                </div>
                <p-divider layout="vertical"></p-divider>
                <div class="col">
                    <h4>Doanh thu chi nhánh</h4>
                    <p-chart type="pie" [data]="data" height="300px" [options]="options"></p-chart>
                </div>
            </div>
            <div class="row">
              <h4>Sản phẩm bán chạy nhất</h4><br>
              <div class="table-responsive" style="margin-top: 15px">
                  <p-table [value]="productBestSales" [busy]="loading">
                    <ng-template pTemplate="header"> 
                      <tr>
                          <th>
                              Mã sản phẩm
                          </th>                          
                          <th>
                              Tên sản phẩm
                          </th>                          
                          <th>
                              Số lượng
                          </th>                          
                          <th>
                              Tổng
                          </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                      <tr>
                          <td>
                             {{ product.productCode }} 
                          </td>
                          <td>
                            {{ product.productName }} 
                         </td>
                         <td>
                            {{ product.productQuantity }} 
                        </td>
                        <td>
                           {{ product.productSales | currency: 'VND'}} 
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
            </div>
        </div>
          
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <h3>
                  Tổng chi: {{ totalExpenses | currency : "VND" }}
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            
        </div>

      </p-panel>
    </section>
  </div>
  <p-dialog [(visible)]="visible" (onHide)="closeModal()" [modal]="true" [style]="{ width: '30vw', height: '15vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
      <span class="text-xl font-bold">Thống kê</span>
    </ng-template>
    <div class="calendar" id="mydiv">
      <p-calendar
      dateFormat="yy"
      [style]="{'width':'90%'}"
      [(ngModel)]="date"
      [showIcon]="true"
      view="year" dateFormat="yy" 
      [ngModelOptions]="{ standalone: true }"
      placeholder="Năm"
    ></p-calendar>
    </div>
      <ng-template pTemplate="footer">
      <div class="modal-footer justify-content-center">
        <p-button [disabled]="date === undefined" icon="pi pi-check" (click)="visible = false; confirmModal()" label="Ok"  styleClass="p-button-success"></p-button>
      </div>
    </ng-template>
</p-dialog>