<div [@routerTransition]>

    <section class="content px-2" style="padding-top: 20px;">
      <p-panel [style]="{'margin-left':'15px','margin-right':'15px'}">
        <ng-template pTemplate="header">
          <div class="col-6">
            <h1>{{ "Kho" | localize }}</h1>
          </div>
          <div class="col-6 text-right">
            <!-- <a href="javascript:;"
              class="btn bg-blue"
              routerLink="create"
              *ngIf="isGranted('Pages.System.Storage.Add') == true">
              <i class="fa fa-plus-square"></i>
              {{ "Thêm" | localize }}
            </a> -->
            <p-button 
            label="Thêm"
            routerLink="create"
            *ngIf="isGranted('Pages.System.Storage.Add') == true">

            </p-button>
          </div>
        </ng-template>
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <!-- &emsp; -->
              <p-button 
            label="Xóa"
            [disabled]="selectedStorages.length === 0"
            (onClick)="checkOnDelete()"
            styleClass="p-button-danger"
            icon="pi pi-trash"
            *ngIf="isGranted('Pages.System.Storage.Delete') == true">

            </p-button>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button"
                    class="btn bg-blue"
                    (click)="getDataPage(1)">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input type="text"
                  class="form-control"
                  name="keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                  [(ngModel)]="keyword"
                  (ngModelChange)="getDataPage(1)" />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <p-scrollPanel [style]="{ width: '100%', height: '540px' }">
            <p-table [value]="storages" dataKey="storageCode" [(selection)]="selectedStorages" [tableStyle]="{ 'min-width': '50rem' }"
              [busy]="isTableLoading" [styleClass]="''">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th pSortableColumn="storageCode">{{ "Mã kho" | localize }}<p-sortIcon field="storageCode"></p-sortIcon></th>
                  <th pSortableColumn="storageName">{{ "Tên kho" | localize }}<p-sortIcon field="storageName"></p-sortIcon></th>
                  <th pSortableColumn="address">{{ "Địa chỉ" | localize }}<p-sortIcon field="address"></p-sortIcon></th>
                  <th pSortableColumn="creationTime">{{ "Ngày tạo" | localize }}<p-sortIcon field="creationTime"></p-sortIcon></th>
                  <th pSortableColumn="lastDateModified">{{ "Ngày cập nhật" | localize }}<p-sortIcon field="lastDateModified"></p-sortIcon></th>
                  <th pSortableColumn="username">{{ "Người cập nhật" | localize }}<p-sortIcon field="username"></p-sortIcon></th>
                  <th style="width: 200px;">{{ "Hành động" | localize }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-storage>
                <tr>
                  <td>
                    <p-tableCheckbox [value]="storage"></p-tableCheckbox>
                </td>
                <td><a [routerLink]="['detail', storage.storageCode]">{{ storage.storageCode }}</a></td>
                <td>{{ storage.storageName }}</td>
                <td>{{ storage.address }}</td>
                <td>
                  {{storage.creationTime | date: 'dd/MM/yyyy'}}
                </td>
                <td>
                  {{storage.lastDateModified | date: 'dd/MM/yyyy'}}
                </td>
                <td>{{ storage.username }}</td>
                <td>
                    <!-- <p-button styleClass="p-button-secondary"
                      icon="fas fa-pencil-alt"
                      [style]="{'margin-right': '10px'}"
                      *ngIf="isGranted('Pages.System.Storage.Update') == true"
                      [routerLink]="['edit', storage.storageCode]">
                    </p-button> -->
                    <p-button styleClass="p-button-secondary"
                      icon="pi pi-pencil"
                      [style]="{'margin-right': '10px'}"
                      *ngIf="isGranted('Pages.System.Storage.Update') == true"
                      [routerLink]="['edit', storage.storageCode]">
                    </p-button>
                    <p-button styleClass="p-button-danger"
                      icon="pi pi-trash"
                      (click)="delete(storage)"
                      *ngIf="isGranted('Pages.System.Storage.Delete') == true"
                      >
                    </p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-scrollPanel>
          </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-3 col-12 text-sm-left text-center">
              <button class="btn btn-secondary"
                (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <!-- <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div> -->
            <div class="col-sm-5 col-12">
              <div class="float-sm-right m-auto">
                
              <p-paginator (onPageChange)="getDataPage($event)" [first]="first" [rows]="rows" [totalRecords]="totalItems" [rowsPerPageOptions]="[6, 10, 15]"></p-paginator>
                <!-- <abp-pagination-controls id="server"
                  (pageChange)="getDataPage($event)">
                </abp-pagination-controls> -->
              </div>
            </div>
          </div>
        </div>
      </p-panel>

    </section>

  </div>