<div [@routerTransition]>
  <form autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="container-add">
        <div class="container-row">
          <div class="row" style="padding-bottom: 25px">
            <div class="col">
              <div class="row">
                <div class="col required">
                  <label for="name">
                    {{ "Mã sản phẩm" | localize }}
                  </label>
                  <span style="color: red; margin-left: 5px; font-size: 14pt"
                    >*</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input
                    readonly
                    type="text"
                    class="form-control"
                    name="productCode"
                    id="productCode"
                    required
                    maxlength="32"
                    [(ngModel)]="products.productCode"
                    #nameCode="ngModel"
                    #nameCodeEl
                  />
                  <abp-validation-summary
                    [control]="nameCode"
                    [controlEl]="nameCodeEl"
                  ></abp-validation-summary>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="name">
                    {{ "Tên sản phẩm" | localize }}
                  </label>
                  <span style="color: red; margin-left: 5px; font-size: 14pt"
                    >*</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    name="productName"
                    id="productName"
                    required
                    maxlength="50"
                    [(ngModel)]="products.productName"
                    #nameModel="ngModel"
                    #nameEl
                  />
                  <abp-validation-summary
                    [control]="nameModel"
                    [controlEl]="nameEl"
                  ></abp-validation-summary>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-bottom: 25px">
            <div class="col">
              <div class="row">
                <div class="col required">
                  <label for="name">
                    {{ "Danh mục sản phẩm" | localize }}
                  </label>
                  <span style="color: red; margin-left: 5px; font-size: 14pt"
                    >*</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <select
                    required="categoryCode === '0'"
                    #selectModel="ngModel"
                    #selectEl
                    class="form-control"
                    (change)="getSubcategory()"
                    [(ngModel)]="categoryCode"
                    [ngModelOptions]="{ standalone: true }"
                    aria-label="Default select example"
                  >
                    <option value="0" selected>Danh mục</option>
                    <option
                      *ngFor="let category of getCategory; let i = index"
                      value="{{ category.CategoryId }}"
                    >
                      {{ category.CategoryName }}
                    </option>
                  </select>
                  <abp-validation-summary
                    [control]="selectModel"
                    [controlEl]="selectEl"
                  ></abp-validation-summary>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="name">
                    {{ "Danh mục nhỏ" | localize }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <select
                    required
                    #selectSubModel="ngModel"
                    #selectSubEl
                    class="form-control"
                    [disabled]="isCategoryCodeExist != true"
                    [(ngModel)]="products.subCategoryId"
                    [ngModelOptions]="{ standalone: true }"
                    aria-label="Default select example"
                  >
                    <option value="0" selected>Danh mục nhỏ</option>
                    <option
                      *ngFor="
                        let subcategory of getSubcategorycode;
                        let i = index
                      "
                      value="{{ subcategory.subcategoryId }}"
                    >
                      {{ subcategory.subcategoryName }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-bottom: 25px">
            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="name">
                    {{ "Giá" | localize }}
                  </label>
                  <span style="color: red; margin-left: 5px; font-size: 14pt"
                    >*</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input
                    class="form-control"
                    name="price"
                    id="price"
                    [(ngModel)]="this.products.price"
                    type="number"
                    #priceModel="ngModel"
                    #priceEl
                    required
                  />
                  <abp-validation-summary
                    [control]="priceModel"
                    [controlEl]="priceEl"
                  ></abp-validation-summary>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="name">
                    {{ "Đơn vị tính" | localize }}
                  </label>
                  <span style="color: red; margin-left: 5px; font-size: 14pt"
                    >*</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input
                    class="form-control"
                    name="unit"
                    id="unit"
                    [(ngModel)]="this.products.unit"
                    type="text"
                    #unitModel="ngModel"
                    #unitEl
                    required
                  />
                  <abp-validation-summary
                    [control]="unitModel"
                    [controlEl]="unitEl"
                  ></abp-validation-summary>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-bottom: 25px">
            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="name">
                    {{ "Chú thích" | localize }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <textarea
                    class="form-control"
                    name="description"
                    id="description"
                    [(ngModel)]="products.productDescription"
                    cols="20"
                    rows="10"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-bottom: 25px">
            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="name">
                    {{ "Mô tả chi tiết sản phẩm" | localize }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <textarea
                    class="form-control"
                    name="description"
                    id="description"
                    [(ngModel)]="products.productDetail"
                    cols="20"
                    rows="10"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row" style="padding-bottom: 25px;">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <label for="name">
                          {{ "Kho chứa sản phẩm" | localize }}
                        </label>
                        <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                        <a style="margin-left: 20px;" href="javascript:;" class="btn bg-blue" (click)="AddItem()">
                          <i class="fa fa-plus-square"></i>
                          {{ "Tạo" | localize }}
                        </a>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 15px;"
                      *ngFor="let control of storageFormArray.controls; index as i">
                      <ng-container [formGroup]="control">
                        <div class="col" [@routerTransition]>
                          <select class="form-control" [(ngModel)]="storageSelect[i].storageCode" (change)="checkIfAlreadyExist(storageSelect[i].storageCode, i)"
                            formControlName="storageOfFormArray" aria-label="Default select example">
                            <option *ngFor="let the of getStorage" value="{{the.storageCode}}">{{the.storageName}}
                            </option>
                          </select>
                          <span
                          style="display: block;"
                          *ngIf="isExist"
                          class="error invalid-feedback"
                          >
                            {{errorMessage}}
                          </span>
                        </div>
                        <div class="col">
                          <input type="number" class="form-control" placeholder="Số lượng"
                            [(ngModel)]="storageSelect[i].quantity" formControlName="quantity" />
                        </div>
                        <div class="col">
                          <input class="form-control" placeholder="Vị trí" [(ngModel)]="storageSelect[i].productLocation"
                            formControlName="location" />
                        </div>
                        <div class="col">
                          <button type="button" class="btn bg-danger mx-2" (click)="RemoveItem(i)">
                            <i class="fas fa-trash"></i>
                          </button>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div> -->
          <abp-modal-footer
            [cancelDisabled]="saving"
            [saveDisabled]="checkFormValid() || saving"
            (onCancelClick)="Cancel()"
          ></abp-modal-footer>
        </div>
      </div>
    </div>
  </form>
</div>
