<div [@routerTransition]>
  <div class="modal-body">
    <div class="container-add">
      <div class="container-row">
        <div class="row" style="padding-bottom: 25px">
          <div class="col">
            <div class="row">
              <div class="col">
                <label for="name">
                  {{ "Mã kho" | localize }}
                </label>
                <span style="color: red; margin-left: 5px; font-size: 14pt"
                  >*</span
                >
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  disabled
                  type="text"
                  class="form-control"
                  name="storageCode"
                  id="storageCode"
                  required
                  minlength="2"
                  maxlength="32"
                  [(ngModel)]="storage.storageCode"
                  #nameCode="ngModel"
                  #nameCodeEl
                />
                <abp-validation-summary
                  [control]="nameCode"
                  [controlEl]="nameCodeEl"
                ></abp-validation-summary>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <label for="name">
                  {{ "Tên kho" | localize }}
                </label>
                <span style="color: red; margin-left: 5px; font-size: 14pt"
                  >*</span
                >
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  disabled
                  type="text"
                  class="form-control"
                  name="storageName"
                  id="storageName"
                  required
                  minlength="2"
                  maxlength="50"
                  [(ngModel)]="storage.storageName"
                  #nameModel="ngModel"
                  #nameEl
                />
                <abp-validation-summary
                  [control]="nameModel"
                  [controlEl]="nameEl"
                ></abp-validation-summary>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-bottom: 25px">
          <div class="col">
            <div class="row">
              <div class="col required">
                <label for="name">
                  {{ "Địa chỉ" | localize }}
                </label>
                <span style="color: red; margin-left: 5px; font-size: 14pt"
                  >*</span
                >
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  disabled
                  type="text"
                  class="form-control"
                  name="storageAdress"
                  id="storageAdress"
                  required
                  minlength="2"
                  [(ngModel)]="storage.address"
                  #nameAdress="ngModel"
                  #nameAdressEl
                />
                <abp-validation-summary
                  [control]="nameAdress"
                  [controlEl]="nameAdressEl"
                ></abp-validation-summary>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-bottom: 25px">
          <div class="col">
            <div class="row">
              <div class="col">
                <label for="name">
                  {{ "Chú thích" | localize }}
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <textarea
                  disabled
                  class="form-control"
                  name="description"
                  id="description"
                  [(ngModel)]="storage.description"
                  cols="20"
                  rows="10"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-bottom: 25px">
          <div class="col">
            <a
              id="arrow"
              (click)="OpenProductPanel()"
              [attr.aria-expanded]="!isCollapsed"
              style="cursor: pointer"
              aria-controls="collapseBasic"
            >
              <span style="margin-bottom: 10px"> Sản phẩm trong kho </span>

              <i [style]="arrow_i" class="pi pi-chevron-down"></i>
            </a>

            <hr />
            <div
              id="collapseBasic"
              [collapse]="isCollapsed"
              [isAnimated]="true"
            >
              <div class="well well-lg card card-block card-header">
                <div class="table-responsive">
                  <p-scrollPanel [style]="{ width: '100%', height: '240px' }">
                    <p-table [value]="storage.products" [busy]="isTableLoading">
                      <ng-template pTemplate="header">
                        <tr>
                          <th pSortableColumn="productCode">
                            {{ "Mã sản phẩm" | localize
                            }}<p-sortIcon field="productCode"></p-sortIcon>
                          </th>
                          <th pSortableColumn="productName">
                            {{ "Tên sản phẩm" | localize
                            }}<p-sortIcon field="productName"></p-sortIcon>
                          </th>
                          <th pSortableColumn="unit">
                            {{ "Đơn vị tính" | localize
                            }}<p-sortIcon field="unit"></p-sortIcon>
                          </th>
                          <th pSortableColumn="quantity">
                            {{ "Số lượng" | localize
                            }}<p-sortIcon field="quantity"></p-sortIcon>
                          </th>
                          <th pSortableColumn="location">
                            {{ "Vị trí" | localize
                            }}<p-sortIcon field="location"></p-sortIcon>
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-product>
                        <tr>
                          <td>{{ product.productCode }}</td>
                          <td>{{ product.productName }}</td>
                          <td>{{ product.unit }}</td>
                          <td>{{ product.quantity }}</td>
                          <td>{{ product.location }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-scrollPanel>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <p-button
          type="button"
          label="Hủy"
          styleClass="p-button-outlined"
          (click)="Cancel()"
        >
        </p-button>
        </div>
      </div>
    </div>
  </div>
</div>
