<p-toast></p-toast>
<div [@routerTransition]>
  <form autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
    <div class="modal-body">
      <tabset>
        <tab [heading]="'Chi tiết' | localize" class="pt-3 px-2">
          <div class="container-add">
            <div class="container-row">
                <div class="row" style="padding-bottom: 25px;">
                  <div class="col">
                      <div class="row">
                        <div class="col required">
                          <label for="name">
                            {{ "Mã kho" | localize }}
                          </label>
                          <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" name="storageCode" id="storageCode" required
                            maxlength="32" [(ngModel)]="storage.storageCode" #nameCode="ngModel" #nameCodeEl />
                          <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="row">
                        <div class="col">
                          <label for="name">
                            {{ "Tên kho" | localize }}
                          </label>
                          <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" name="storageName" id="storageName" required
                            maxlength="50" [(ngModel)]="storage.storageName" #nameModel="ngModel" #nameEl />
                            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="row" style="padding-bottom: 25px;">
                  <div class="col">
                      <div class="row">
                        <div class="col required">
                          <label for="name">
                            {{ "Địa chỉ" | localize }}
                          </label>
                          <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" name="storageAdress" id="storageAdress" required
                           [(ngModel)]="storage.address" #nameAdress="ngModel" #nameAdressEl />
                          <abp-validation-summary [control]="nameAdress" [controlEl]="nameAdressEl"></abp-validation-summary>
                        </div>
                      </div>
                  </div>
                </div>
                
                <div class="row" style="padding-bottom: 25px;">
                  <div class="col">
                      <div class="row">
                        <div class="col">
                          <label for="name">
                            {{ "Chú thích" | localize }}
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <textarea class="form-control" name="description" id="description" [(ngModel)]="storage.description" cols="20"
                            rows="10"></textarea>  
                        </div>
                      </div>
                  </div>
                </div>
                <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createRoleForm.form.valid || saving"
                (onCancelClick)="Cancel()"></abp-modal-footer>
            </div>
          </div>  
        </tab>
      </tabset>
    </div>
    
  </form>
</div>
